/* Importando coisas */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

/* Estilo em geral */
:root {
    --fundo: #FFFFFF;
    --roxo: #38065E
}

body{
    background-color: var(--fundo);
}

*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: none;
}

a:hover {
    text-decoration: none;
    color: var(--fundo);
}

/* Menu de navegação */

.menu{
    width: 100%;
    height: 75px;
    background-color: var(--fundo);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid var(--fundo);
    position: fixed;
    border-radius: 0px 0px 75px 75px;
    justify-content: space-around;
    z-index: 1;
}

.menu *{
    list-style: none;
    color: var(--roxo);
}

.menu ul{
    list-style: none;
    display: flex;
    color: var(--roxo);
}

.menu ul li{
    width: 110px;
    border: 1px solid var(--fundo);
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    font-size: 16px;
    position: relative;
    font-weight: bold;
    cursor: pointer;
}

.menu ul ul li ul li{
    display: flex;
    align-items: center;
}

.menu ul li ul li{
    width: 200px;
    background-color: var(--fundo);
}

#sub-list{
    color: #000000
}

.menu ul li ul{
    width: 200px;
}

.menu ul ul {
    display: none;
}

.menu ul li:hover>ul{
    display: block;
    cursor: pointer;
}

.menu ul li:hover>ul li{
    display: block;
    cursor: pointer;

}

.menu ul li ul li:hover{
    background-color: var(--roxo);
    color: var(--fundo);
    cursor: pointer;
}

.menu ul li ul li:hover{
    background-color: var(--roxo);
    color: var(--fundo);
    cursor: pointer;
}

.menu ul li ul li:hover> a{
    background-color: var(--roxo);
    color: var(--fundo);
    cursor: pointer;
}

.menu ul li ul li:hover>ul li{
    color: var(--roxo);
    cursor: pointer;
}

.menu ul li ul li ul li:hover{
    color: var(--fundo);
    cursor: pointer;
}


.menu ul ul ul{
    margin-left: 197px;
    top: 0%;
    position: absolute;
}

#logo-nav{
    width: 100px;
    display: flex;
    justify-content: space-around;
}

#logo-nav *{
    width: 25px;
    color: var(--fundo);
    cursor: pointer;
}

.logo-nav *{
    cursor: pointer;
    width: 85px;
}

@media (max-width: 656px){
    .menu ul {
        display: none;
    }
}


/* Parte capa */

.capa-poker{
    background-color: var(--roxo);
   width: 100%;
   display: flex;
   justify-content: start;
   padding: 150px 100px 100px 100px;
   align-items: center;
   min-height: 110vh;
   border-radius: 0px 0px 75px 75px;
}

.capa-poker div *{
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px;
}

.title-capa{
    width: 70%;
    font-size: 50px;
    color: var(--fundo);
}

.p-capa-2{
    font-size: 15px;
    color: var(--fundo);
    margin-left: 3px;
}

#button-capa {
    color: var(--fundo);
    padding: 10px;
    width: 250px;
    height: 50px;
    background-image: linear-gradient(to right, #f09c90, #bc23b3);
    border-radius: 20px;
    border: 0px solid #ffffff00;
    font-size: 22px;
    cursor: pointer;
}

@media (max-width: 656px){
    .capa-poker{
        min-height: 80vh;
    }
}


/* quem sou eu */

#quemsoueu-all{
    display: flex;
    padding: 100px;
    background-color: var(--fundo);
}

#quemsoueu-all div{
    width: 100%;
}

.quemsoueu-title{
    color: var(--roxo);
    font-size: 20px;
    margin-bottom: 30px;
}

.quemsoueu-text{
    display: flex;
}

#teste{
    width: 10px;
    padding: 0;
    margin: 0;
}

#quemsoueu-text img{
    background-color: var(--roxo);
    padding: 20px;
    border-radius: 50%;
    width: 200px;
}


/* Etapas */

.section-2{
    display: flex;
    padding: 100px;
    background-color: var(--roxo);
    border-radius: 75px 75px 75px 75px;
}

.section-1 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.etapas{
    width: 100%;
}

.content-etapas-1{
    width: 100%;
    display: flex;
    width: 100%;
}

.content-etapas-1 h1{
    font-size: 40px;
    width: 250%;
    font-weight: bolder;
    color: var(--fundo);
}

.span{
    display: block;
    height: 1px;
    width: 100%;
    background: var(--fundo);
    overflow: hidden;
    margin-top: 27px;
}

.content-etapas-2 {
    width: 100%;
    display: flex;
    width: 100%;
}

.content-etapas-2 p{
    margin-top: 5px;
    color: var(--fundo);
}

.circulo-etapas{
    border:  3px solid var(--fundo);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--fundo);
    font-size: 50px;
    font-weight:700;
}


.partes-etaps{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content-etapas-3{
    margin-top: 90px;
    color: var(--fundo);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-etaps{
    width: 83%;
    display: flex;
    flex-direction: column; 
    align-items: center;   
}

.text-etaps *{
    padding-top: 25px;
     text-align: center;
}

.text-etaps h1{
    font-size: 18px; 
}

.text-etaps p{
    font-size: 13px; 
}

@media (max-width: 656px){
    .content-etapas-1 h1{
        text-align: center;
        margin: 0;
        padding: 0;
        font-size: 30px;
    }

    .content-etapas-2 *{
        text-align: center;
    }

    .span{
        display: none;
    }

    .partes-etaps{
        display: block;
    }
}


/* Portifolio */

.section-3{
    display: flex;
    padding: 100px;
    background-color: var(--fundo);
    border-radius: 75px 75px 75px 75px;
    min-height: 100vh;
}

.section-3 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.section-3 div h1{
    color: var(--roxo);
    margin-bottom: 65px;
}

input[type=radio]{
    display: none;
}

.cards img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.card{
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.container{
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
    display: flex;
    transform-style: preserve-3d;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cards{
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2{
    transform: translateX(-70%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-1{
    transform: translateX(70%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3{
    transform: translateX(0) scale(1);
    opacity: 1;
    z-index: 1;
}


.section-3-1{
    display: flex;
    padding: 100px;
    background-color: var(--fundo);
    border-radius: 75px 75px 75px 75px;
    min-height: 100vh;
}

.section-3-1 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.section-3-1 div h1{
    color: var(--roxo);
    margin-bottom: 65px;
}

.cards img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.card-1{
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.container-1{
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
    display: flex;
    transform-style: preserve-3d;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cards-1{
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

#item-1-1:checked ~ .cards #song-3-1,
#item-2-1:checked ~ .cards #song-1-1,
#item-3-1:checked ~ .cards #song-2-1{
    transform: translateX(-70%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-1-1:checked ~ .cards #song-2-1,
#item-2-1:checked ~ .cards #song-3-1,
#item-3-1:checked ~ .cards #song-1-1{
    transform: translateX(70%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-1-1:checked ~ .cards #song-1-1,
#item-2-1:checked ~ .cards #song-2-1,
#item-3-1:checked ~ .cards #song-3-1{
    transform: translateX(0) scale(1);
    opacity: 1;
    z-index: 1;
}


.section-4{
    display: flex; 
    background-color: var(--fundo);
    border-radius: 75px 75px 75px 75px;
    margin-bottom: 120px;
}

.section-4 div{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0px 10% 0px 10%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section-4 div img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    margin-top: 30px;
}

@media (max-width: 656px){
    .container {
        height: 100px;
    }
    #portifolio-nav *{
        height: 100px;
    }

    .cards{
        height: 50%;
        margin: 0;
    }
    
    .texto-portifolio-1 p{
        margin: 0;
        padding: 0;
    }
    .section-3{
        min-height: 60vh;
    }
}


/* AVALIAÇÂO */

.section-5{
    display: flex;
    flex-direction: column;
    padding: 100px;
    background-color: var(--roxo);
    border-radius: 75px 75px 75px 75px;
    text-align: center;
    color: var(--fundo);
}

.imgs-avaliacao {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}
.imgs-avaliacao *{
    width: 300px;
    margin-top: 20px;
}

/* Midia Social */

/* baguá*/
.section-6{
    display: flex;
    flex-direction: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
    background-color: var(--fundo);
    border-radius: 75px 75px 75px 75px;
}

.midia-esquerda{
    width: 50vw;
}

.midia-social-title{
    text-align: center;
    color: var(--roxo);
    font-size: 50px;
    margin-bottom: 100px;
    width: 100vw;
}

.midia-esquerda h1,p{
    margin-left: 3%;
}

.midia-esquerda h1{
    color: var(--roxo);
    font-size: 35px;
}

.midia-esquerda p {
    margin-left: 3%;
}

.midia-esquerda div p{
    margin-bottom: 58px;
    font-size: 27px;
}

.img-midia-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.midia-esquerda img{
    width: 200px;
    padding: 15px;
    border-radius: 40px;
}


.midia-direita img{
    height: 90%;
}

@media (max-width: 1100px){ 
    .midia-direita{
        display: none;
    }
    .midia-esquerda h1,p{
        margin-left: 0;
        text-align: center;
    }
    .midia-esquerda div p{
        margin-top: 10px;
        font-size: 20px;
    }

    .img-midia-1{
        justify-content: center;
    }
    .section-6{
        padding: 0;
        padding-top: 100px;
    }

    .img-midia-1{
        justify-content: center;
    }

    .img-midia-1 :nth-child(4){
        display: none;
    }

    .img-midia-1 :nth-child(5){
        display: none;
    }

    .img-midia-1 :nth-child(6){
        display: none;
    }

    .img-midia-1 :nth-child(7){
        display: none;
    }

    .img-midia-1 :nth-child(8){
        display: none;
    }
}


/* eva*/
.section-7{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    background-color: var(--fundo);
    border-radius: 75px 75px 0 0;
}

.midia-esquerda1 h1,p{
    margin-left: 6%;
}

.midia-esquerda1 h1{
    color: var(--roxo);
    font-size: 35px;
}

.midia-esquerda1 div p{
    margin-bottom: 58px;
    font-size: 27px;
}

.midia-esquerda1{
    width: 40vw;
}


.img-midia-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.midia-esquerda1 img{
    width: 230px;
    margin: 15px;
    border-radius: 40px;
    /* border: 2px solid rgb(252, 52, 235); */
}

.midia-direita1{
    width: 40vw;
}

.midia-direita1 img{
    height: 80%;
    width: 500px;
    border-radius: 10%;
    /* border: 2px solid rgb(252, 52, 235); */
}

@media (max-width: 1100px){ 
    .midia-direita1{
        display: none;
    }

    .midia-esquerda1 h1,p{
        margin-left: 0;
        text-align: center;
    }
    .midia-esquerda1 div p{
        margin-top: 10px;
        font-size: 20px;
    }

    .section-7{
        padding: 0;
        padding-top: 100px;
    }

    .img-midia-2 :nth-child(5){
        display: none;
    }
    .img-midia-2 :nth-child(6){
        display: none;
    }
    
}


/* footer*/
footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding:100px 100px 50px 100px;
    background-color: var(--roxo);
    border-radius: 75px 75px 0 0;
    margin-top: 50px;
    color: var(--fundo);
}

footer .title-footer{
    font-size: 23px;
    width: 100vw;
}

footer .contact-footer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 15px;
    width: 100vw;
    margin-top: 30px;

}

footer .contact-footer div{
    display: flex;
    margin-top: 15px;
    align-items: center;
    width: 100%;
}

footer .contact-footer div p{
    font-size: 18px;
    margin-left: 13px;
    width: 135px;
}

footer .Copyright-footer{
    width: 100vw;
    display: flex;
    justify-content: end;
    margin-top: 35px;
    align-items: center;
}


footer .Copyright-text-footer{
    width: 30%;
    font-size: 14px;
    text-align: end;
    margin-right: 13px;
}

footer .icon-email{
    width: 25px;
}

footer .icons-nav-redes *{
    width: 25px;
}

@media (max-width: 1000px){  
    .title-footer{
        display: none;
    }
}

@media (max-width: 656px){
    .Copyright-footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;      
    }
    .Copyright-footer div p{
        display: none; 
    }
    
    footer .contact-footer div img{
        display: none;
    }

    footer .contact-footer div p {
        text-align: center;
        width: 100%;
    }
    footer{
        margin: 0;
        padding:40px 100px 50px 100px;
    }
}


/* @media responsividade */

@media (max-width: 1000px){  
    .p-capa-1{
        font-size: 15px;
    }

    .title-capa{
        font-size: 40px;
    }

    .p-capa-2{
        font-size: 13px;
    }

    .cards{
        margin-top: 90px;
    }

    .cards *{
        margin-bottom: 90px;
    }
  }
  
@media (max-width: 656px){

    .title-capa{
    width: 100%;
    font-size: 30px;
    color: #FFFF;
    }

    .capa-poker{
        justify-content: center;
        padding: 30px;
        align-items: center;
    }

    .capa-poker div h1{
        margin-top: 70px;
    }

    .logo-nav-responsivo{
        display: block;
    }

}  




